input{
    position: relative;
    padding: 0.9rem;
    width: auto;
    height: auto;
    max-width: 40rem;
    min-width: 20rem;
    max-height: fit-content;
    min-height: fit-content;
    border: line;
    border-radius: 0.5rem;
    border-width: 0.1rem;
    background-color: transparent;
    color: aliceblue;
    font-size: large;
    
        &:hover{
            background-color: rgba(196, 228, 255, 0.589);
            color:black;
            border:none;
            animation: me 2s ;
    }
}

label{
    font-size: large;
    color: aliceblue;
}
button{
    padding: 0.9rem;
    width: auto;
    height: auto;
    color: black;
    background-color: rgba(196, 228, 255, 0.589);
    border-radius: 0.5rem;
    border: line;
    font-size: large;
    &:hover{
        background-color: transparent;
        color:rgba(196, 228, 255, 0.589);
        border:none;
        animation: me 5s ;
    }
}

@keyframes me {
    0%{left: 0rem ; }
    20%,40%,60%,80%{padding-left: 5rem ; }
    100%{left: 0rem ; }
}